doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Downloading Media Items
    p(id='foo') Progress Placeholder
    script
      include ../public/scripts/sockets.js
