extends layout

block content
  h1 Syncer Home
  p= 'Number of media items in the database: ' + mediaItemCount
  p= 'Number of media items downloaded: ' + mediaItemsDownloadedCount
  p= 'Number of media items pending download: ' + mediaItemsPendingDownloadCount
  a(href='/downloadMediaItems') Download media items
